<a href="https://colab.research.google.com/github/alkalink1/ds1002-eju2pk/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 17 # global variable - exists outside of a function, therefore you can use
# wherever, inside and outside a function

In [2]:
def private_var():
  xx = "charlottesville"

private_var()
print(xx)
# thing doesn't exist outside the function

NameError: ignored

In [3]:
def create_a_global_var():
  global zz
  zz = "top"

create_a_global_var()
print(zz)

top

In [6]:
mm = 17

def update_the_global():
  global mm #indicate that it needs to be global to override previous mm
  mm = 14
  print(mm)

update_the_global()
print(mm)

14
14

In [9]:
var1 = 3
var2 = 7
def add_these_things(var1, var2):
    return var1 + var2
add_these_things(var1, var2)

10

In [10]:
var1 = "apples"
var2 = "bananas"
def add_these_things(var1, var2):
    return var1 + var2
add_these_things(var1, var2)

'applesbananas'

In [11]:
def add_numbers(var3: int, var4: int) -> int:
  return var3 + var4

In [14]:
var3, var4 = 2345, 2348
add_numbers(var3, var4)

4693

In [15]:
add_numbers.__annotations__

{'var3': int, 'var4': int, 'return': int}

In [16]:
def add_numbers(var3: int, var4: int) -> int:
  if (type(var3)==int) and (type(var4)==int):
    return var3 + var4
  else:
    print("you need to use two integers for this")
add_numbers(17,"bananas")

you need to use two integers for this

In [19]:
def add_numbers():
  var3 = input("give me a first number")
  var4 = input("give me a secound number")
  return int(var3) + int(var4)

add_numbers()

give me a first number3
give me a secound number4

7