<a href="https://colab.research.google.com/github/alkalink1/ds1002-eju2pk/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [ ]:
# code here
x = 0
while x <= 20:
    print(x)
    if x % 2 == 0:
      print("x is even")
    else:
      break

## For-Loops with Lists

In [5]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [11]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for values in mylist:
    if values == -4:
      continue
    elif values == -242:
      continue
    print(values)

9
15
23
4
92
47
33
17
18
38

In [19]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for values in mylist:
    if values == -4:
      print("4")
    elif values == -242:
      print("242")
    print(values)

9
15
23
4
92
47
33
17
4
-4
18
38
242
-242

In [23]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for x in mylist:
  if 20 < x < 40:
    print(x)

23
33
38

## For-Loops with Dictionaries

In [29]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [31]:
# Write a command to print out all the keys of this dict
mykeys = capitals.keys()
print(mykeys)

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [32]:
# Write a command to print out all the values of this dict
myvals = capitals.values()
print(myvals)

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [33]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
  print(key)
  print(value)

United States
Washington DC
Italy
Rome
England
London
Thailand
Bangkok
Brazil
Brasilia

In [39]:
# Write a command to print only the first three values and NOTHING more.
for caps in capitals:
  if caps == "Thailand":
    break
  print(caps)

United States
Italy
England